{% extends 'chat/base.html' %}
{% load static %}
{% block content %}
<div class=room_header>
    <div class="room_name">
        <p>#{{room.name}}</p>
    </div>
    <div class="room_info">
        <div>
            {%for menber in menber_list %}
            <span>{{menber.username}}</span>
            {% endfor %}
        </div>
        <div>
            <button><a href="edit/">i</a></button>
        </div>
    </div>
</div>
<div>
    <div id="chat-log">
        {% for message in message_list %}
        {% if message.is_todo == False %}
        <div class="message_container">
            <div class="user_icon">
                <img src="{% static 'images/user_icon.jpg' %}" alt="user_icon">
            </div>
            <div class="message_content">
                <div class="message_head">
                    <span class="message_user_name">
                        {{message.user__username}}
                    </span>
                    <span class="message_create_at">{{message.create_at | date:"f"}}</span>

                </div>
                <div class="message_body">
                    {{message.content}}
                </div>
            </div>
        </div>
        {% elif message.is_todo == True %}
        <div class="message_todo">
            {{message.content}}
        </div>

        {% endif %}
        {% endfor %}
    </div>

    <div>
        <form id="todo-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="todo-form-submit" type="button" value="Send" name="todo_form">投稿する</input>
        </form>
    </div>
</div>


<div class="room_footer col-10">
    <div class="message_input">
        <textarea id="chat-message-input" type="text" class="message_input_box"></textarea>
        <input id="chat-message-submit" type="button" value="Send" class="message_input_send">
    </div>

</div>





{{ room.id|json_script:"room-name" }}


<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );
    const chatLog = document.getElementById("chat-log");
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const newErement = document.createElement('p');

        if (data.message) {
            newErement.textContent = `${data.username}:${data.message} `;
            chatLog.appendChild(newErement);
        } else if (data.what) {
            newErement.textContent = `${data.create_user}:${data.what}:${data.how_much}:${data.by_when}:${data.punishment} `;
            chatLog.appendChild(newErement);
        }

    };

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    const username = "{{ user.username }}";
    document.querySelector('#chat-message-submit').onclick = function (e) {

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username,
            'is_todo': false
        }));
        messageInputDom.value = '';
    };


    document.querySelector('#todo-form-submit').onclick = function (e) {

        const todoInputDom = document.querySelector('#todo-form');
        const what = todoInputDom.what.value;
        const how_much = todoInputDom.how_much.value;
        const by_when_year = todoInputDom.by_when_year.value;
        const by_when_month = todoInputDom.by_when_month.value;
        const by_when_day = todoInputDom.by_when_day.value;
        const by_when = new Date(`${by_when_year}/${by_when_month}/${by_when_day}`)
        const punishment = todoInputDom.punishment.value;


        // message =
        //     `
        // create_user: ${username},what: ${what},how_much: ${how_much},by_when: ${by_when},punishment: ${punishment},
        // `
        message = {
            'create_user': username,
            'what': what,
            'how_much': how_much,
            'by_when': by_when,
            'punishment': punishment,

        }

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': username,
            'create_user': username,
            'what': what,
            'how_much': how_much,
            'by_when': by_when,
            'punishment': punishment,
            'is_todo': true

        }));


    };



    // document.querySelector('#todo-form').focus();
    // document.querySelector('#todo-form').onkeyup = function (e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#todo-form-submit').click();
    //     }
    // };

    // document.querySelector('#todo-form-submit').onclick = function (e) {

    //     const todoInputDom = document.querySelector('#todo-form');
    //     const what = todoInputDom.what.value;
    //     const how_much = todoInputDom.how_much.value;
    //     const by_when_year = todoInputDom.by_when_year.value;
    //     const by_when_month = todoInputDom.by_when_month.value;
    //     const by_when_day = todoInputDom.by_when_day.value;
    //     const by_when = new Date(`${by_when_year}/${by_when_month}/${by_when_day}`)
    //     const punishment = todoInputDom.punishment.value;
    //     console.log("フォーム送信！")
    //     console.log(what + how_much + by_when + punishment)
    //     chatSocket.send(JSON.stringify({
    //         'create_user': username,
    //         'what': what,
    //         'how_much': how_much,
    //         'by_when': by_when,
    //         'punishment': punishment,
    //     }));
    //     console.log("フォーム送信！2")

    // };



</script>
{% endblock %}