{% extends 'chat/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
<div class="workspace_contents" v-bind:class="classRow" id="room_vue">
    <div v-bind:class="classCol10">
        <div class="room_header">
            <div class="room_name">
                <p>#{{room.name}}</p>
            </div>
            <div class="room_info">
                <div>
                    {%for menber in menber_list %}
                    <span>{{menber.username}}</span>
                    {% endfor %}
                </div>
                <div>
                    <span v-on:click="openDetails" class="material-icons" style="font-size: 30px">
                        error_outline
                    </span></a>
                </div>
            </div>
        </div>
        <div>
            <div id="chat-log">
                {% for message in message_list %}
                {% if message.is_todo == False %}
                <div class="message_container">
                    <div class="user_icon">
                        <img src="{% static 'images/user_icon.jpg' %}" alt="user_icon" />
                    </div>
                    <div class="message_content">
                        <div class="message_head">
                            <span class="message_user_name"> {{message.user}} </span>
                            <span class="message_create_at">{{message.create_at | date:"f"}}</span>
                        </div>
                        <div class="message_body">{{message.content}}</div>
                    </div>
                </div>
                {% elif message.is_todo == True %}

                <div class="message_todo">
                    <div class="message_todo-container">
                        <div class="todo_create_user">
                            <span>{{message.content| literal_eval:"create_user"}}</span>
                            は
                        </div>
                        <div class=todo_body>
                            <div class="todo_what">
                                <span>{{message.content | literal_eval:"what"}}</span>
                                を
                            </div>
                            <div class="todo_by_when">
                                <span>{{message.content| literal_eval:"by_when"}}</span>
                                までに
                            </div>
                            <div class="todo_how_much">
                                <span>{{message.content| literal_eval:"how_much"}}</span>
                                個
                            </div>
                        </div>
                        <div class="todo_punishment">
                            出来なければ、
                            <span>{{message.content | literal_eval:"punishment"}}</span>
                        </div>
                    </div>
                </div>

                {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="room_footer" v-bind:class="footerCol">
            <div class="message_input">
                <textarea id="chat-message-input" type="text" class="message_input_box"></textarea>
                <input id="chat-message-submit" type="button" value="Send" class="message_input_send" />
            </div>
        </div>
    </div>


    <div class="room_details col-2" v-show="showDetails">
        <div class="room_details_header">

            <p>詳細</p>
            <span v-on:click="closeDetails" type="button" class="material-icons ">clear</span>



        </div>
        <div class="details_menber">
            <h5>メンバー</h5>
            <ul>
                {% for menber in menber_list %}
                <li>{{menber}}</li>
                {% endfor %}

            </ul>
            <div>
                <a v-on:click="openModal">+メンバーを追加する</a>
                <open-modal v-show="showAddMenberModal" v-on:from-child="closeModal">
                    <div class="create-room-modal">
                        <h3>メンバーを追加する<h3>
                                <div>
                                    {% if friend_list %}
                                    {%for friend in friend_list %}
                                    <div>
                                        {{friend.related_user}}
                                        <form action="add_menber/" method="POST">
                                            {% csrf_token%}
                                            <input type="hidden" name='action' value="{{friend.related_user}}">
                                            <button type="submit">追加</button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <p>いません</p>
                                    {% endif %}
                                </div>
                    </div>
                </open-modal>
            </div>

        </div>
    </div>

</div>
<div id="todo-form-vue">
    <a v-on:click="openModal" class="open_todo_form_icon"><span class="material-icons md-48"
            style="font-size: 80px">add_circle</span></a>
    <open-modal v-show="showContent" v-on:from-child="closeModal">
        <div class="todo-form-container">
            <form id="todo-form">
                <div class="input-container">
                    <input class="input" type="text" name="what" maxlength="50" id="id_what" placeholder="なにを" />
                    <span class="helptext">を</span>
                </div>

                <div class="input-container">
                    <v-date-picker v-model="selectedDate">
                        <template v-slot="{ inputValue, inputEvents }">
                            <input class="input" :value="inputValue" v-on="inputEvents" id="id_by_when" />
                            <span class="helptext">までに</span>
                        </template>
                    </v-date-picker>
                </div>
                <div class="input-container">
                    <input class="input" type="number" name="how_much" min="0" required="" id="id_how_much"
                        placeholder="どのくらい" />
                </div>
                <div class="input-container">
                    <p class="helptext">出来なければ・・・</p>
                    <input class="input" type="text" name="punishment" maxlength="50" required="" id="id_punishment"
                        placeholder="罰" />
                </div>
                <input class="input-button" id="todo-form-submit" type="button" value="約束" name="todo_form" />
            </form>
        </div>
    </open-modal>
</div>


<script>
    const username = "{{ user.username }}";
</script>
{{ room.id|json_script:"room-name" }}
{% endblock %}