<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
</head>

<body>
    <h2>ルームを新しく作成する<h2>
            <div class="create-room-box">
                    <form action="/createroom/" method="post">
                    {% csrf_token %}
                    <input placeholder="ルーム名を入力" type="text" name="room_name" value="">
                    <input type="submit" class="send" name="button" value="作成">
                </form>
            </div>
            <div>
                <p>どのチャットルームに入りたいですか？?<br>
                {%for room in room_list%}
                <a href="{{room.id}}">{{room}}</a>
                {% endfor %}
                
            </div>


            <script>
                document.querySelector('#room-name-input').focus();
                document.querySelector('#room-name-input').onkeyup = function (e) {
                    if (e.keyCode === 13) {  // enter, return
                        document.querySelector('#room-name-submit').click();
                    }
                };

                document.querySelector('#room-name-submit').onclick = function (e) {
                    var roomName = document.querySelector('#room-name-input').value;
                    window.location.pathname = '/chat/' + roomName + '/';
                };
            </script>
</body>

</html>